{% extends 'ToDoToDoBundle:Default:header.html.twig' %}

{% block container_fluid %}
    {% if is_granted('ROLE_ADMIN') %}
        <h3>hello</h3>
    {% else %}
        <h2>Access denied!</h2>
    {% endif %}
{% endblock %}  